<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320226554084-srfko4mj4asevh6km9qel1kue82696jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320226554084-srfko4mj4asevh6km9qel1kue82696jj</string>
	<key>API_KEY</key>
	<string>AIzaSyCin0ktsF7YgPezMg4ExLuB7k8UkKEvxtM</string>
	<key>GCM_SENDER_ID</key>
	<string>320226554084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isnardsilva.Moneasy</string>
	<key>PROJECT_ID</key>
	<string>moneasy-bc4a6</string>
	<key>STORAGE_BUCKET</key>
	<string>moneasy-bc4a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320226554084:ios:1200a0d7ed8a16c772fcf1</string>
</dict>
</plist>